@mixin fontRegular($fontSize, $color) {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: $fontSize;
  color: $color;
}
@mixin fontSemi($fontSize, $color) {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: $fontSize;
  color: $color;
}
@mixin fontBold($fontSize, $color) {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: $fontSize;
  color: $color;
}
