@media (max-width: 450px) {
  .advantages::-webkit-scrollbar {
    width: 0;
  }
}
@media (max-width: 1000px) {
  .page-light {
    .header-container {
      height: 99px;
      margin: 8px auto -8px auto;
      padding: 0px 16px 0px 18px;
      .nav-toggle {
        display: block;
      }
      .logo {
        margin: 0px 0 0px 39px;
      }

      .nav {
        width: auto !important;
        li {
          display: none;
        }
      }

      .nav-mobile {
        display: block;
        position: absolute;
        height: 0;
        width: 100%;
        background-color: $white;
        top: 0;
        left: 0;
        z-index: 2;
        visibility: hidden;
        transition: 0.5s;
        overflow: hidden;
        ul {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-top: auto;
          margin-bottom: auto;
          li {
            height: 40px;
            :hover {
              background-color: $gray;
            }
            :active {
              background-color: $gray;
            }
            a {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .show {
        height: 120px;
        visibility: visible;
      }
    }
  }
  .main {
    height: 903px !important;
    flex-direction: column;
    .main-left {
      margin: 60px auto 0 auto;
      padding: 0 0 0 33px;
      .main-h1 {
        font-size: 48px;
      }
      .main-txt {
        margin: 82px 0 0 0;
        padding: 0 0 0 0;
      }
      .main-button-container {
        display: flex;
        flex-direction: column;
        margin: 59px 0 0 0;
        .btn-yellow {
          width: 186px;
          margin: 0 0 0 1px;
          padding: 11px 44px 11px 51px !important;
        }
        .btn-purple {
          margin: 16px 0 0 0 !important;
        }
      }
    }
    .main-right {
      right: -181px;
      bottom: -149px;
    }
  }
  .advantages-container {
    align-items: stretch;
    .advantages {
      overflow-x: auto;
      // scroll-snap-type: x mandatory;
      margin: 0 0 0 -19px;
      height: 407px;
      .advantage-block {
        scroll-snap-align: start;
        margin-top: 74px;
        .button-plus {
          margin: -7px 53px 0 238px;
        }
      }
      .advantage-block:first-child {
        margin-left: 50px;
      }
      .advantage-block:not(:last-child) {
        margin-right: 24px;
      }
    }
    .advantages-h2 {
      margin: 50px 0 0 -11px;
      text-align: center;
      max-width: 250px;
      text-align: center;
      align-self: center;
    }
    .yellow-stripe {
      align-self: center;
    }
    .advantages-text {
      width: auto !important;
      margin: 0 0 0 0;

      margin: -7px 0 0 0;
      padding: 0 21px 0 20px;
    }
  }
  .about-container {
    flex-direction: column;
    margin: 43px 0 0 0;
    .about {
      margin: 0 auto 10px auto;
      padding: 0 0px 0 31px;
      .about-h2 {
        padding-right: 56px;
      }
      .about-text {
        padding: 0 17px 0 0;
      }
      .btn-yellow {
        margin: 26px 0 0 0;
      }
    }
    .about-img-container {
      height: 589px;
      .about-dude {
        bottom: 15px;
        right: -8px;
      }
      .ball-big-blur {
        bottom: 277px;
        right: 7px;
      }
      .ball-small-blur {
        bottom: 205px;
        right: 193px;
      }
    }
  }
  .contact-container {
    margin: -10px auto 0 auto;
    .contact-top {
      margin: 35px auto 0 auto;
      img {
        margin: 0 0 0 -22px;
      }
      .contact-h2 {
        margin: 16px auto 0 auto;
        padding: 0 47px 0 47px;
        text-align: center;
      }
    }
    .contact-bottom {
      flex-direction: column;
      width: auto !important;
      margin: 0 0 74px 0;
      .content-text {
        margin: 7px auto 0 auto;
        max-width: 375px;
        width: auto;
        padding: 0 31px 0 31px;
        text-align: start;
        .whatsup-link {
          margin: 68px 0 0 3px;
        }
      }
      .form-container {
        margin: 54px 0 0 0;
        .form {
          .input-container {
            width: 311px;
            max-width: 375px;
            margin: 0 auto 17px auto;
          }
          .btn-yellow {
            margin: 17px 0 0 155px;
          }
        }
      }
    }
  }
  .footer-container {
    .header-container {
      flex-direction: column;
      align-items: flex-start;
      margin: 20px 0 0 23px;
      height: auto;
      nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto 0 auto;
        width: 100%;
        .nav {
          flex-direction: column;
          margin: 83px 0 0 5px;
          overflow: visible;
          :not(:first-child) {
            margin-left: -4px;
          }
          li {
            display: block;
            margin: 0 0 16px 0;
          }
        }
      }
      .social {
        margin: 81px 33px 0 0 !important;
        :first-child {
          margin: 0 19px 0 0;
        }
      }
    }
    .sub {
      flex-direction: column;
      align-items: flex-start;
      margin: 33px auto 0 auto;
      padding: 0 0 70px 0px;
      .sub-txt {
        margin: 0 0 0 21px;
      }
      .sub-form {
        margin: 0 0 0 0;
        input {
          padding: 11px 16px 11px 13px;
          margin: 15px 0px 0 22px;
        }
        .btn-white {
          padding: 12px 15px 12px 23px;
        }
      }
    }
    .reference {
      margin: 42px auto 0 auto;
      padding: 0 90px;
      height: 90px;
      p {
        margin: 0px 7px 0 0px;
      }
    }
  }
}
